{% extends 'base.html.twig' %}

{% block title %}Salary Calculator {{ controller_name }}!{% endblock %}

{% block body %}
    <style>
        .salary-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .salary-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="salary-wrapper">
        <div id="vueApp"></div>
    </div>
{% endblock %}